body {
  font-family: "public-sans", sans-serif; 
  color: #33323D; 
  font-size: 16px;
}

.container {
  max-width: 1111px;
  width: 100%;
  margin: auto;
  padding: 32px;  
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 32px; 
  align-items: center;
}

.header__nav a {
  text-transform: uppercase;
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 80px;
  margin-top: 150px;
  background-color: #33323d;
  padding: 33px 165px;
}

.menu__footer img {
  width: 61px;
  height: 32px;
}

.menu__footer {
display: flex;
font-family: "Public Sans", sans-serif;
font-size: 12px;
line-height: 14.1px;
letter-spacing: 2px;
text-align: left;
margin-left: 24px;
color: #fff; 
text-transform: uppercase;
gap: 16px; 
}

.menu__social {
  width: 104px;
  height: 24px;
}

.contact {
  display: flex; 
}

.contact__text {
  color:#33323d;
  width: 367px;
  height: 84px; 
  line-height: 42px;
  margin-left: 165px;
  font-size: 40px;
  font-weight: 700;
  font-family: "ibarra real nova", sans-serif;
}

.text__btn {
  width: 168px;
  height: 48px;
  margin-left: 600px;
  text-transform: uppercase;
}